/* Mobile Screen */
@media only screen and (max-width: 480px) {
    
    .eventos {
      width: 50%;
      max-width: 1000px;
      margin: 10px auto;
      display: grid;
      
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto, auto);
    }
    
    .header__imagen--href {   
      width: 80%;
    }  
  
    .linkFootersection {
      text-align: center;
      font-size: 10px;
      display: none;
      
    }
    
    .navegador {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .navegador__listas {
      display: flex;
      flex-direction: column;
      text-align: center;    
    }
  
    .footer__nonBootstrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }
  
    .footer__gridSub--title {
      font-weight: bold;
      text-align: center;
    }
  
    .footer__listas,
    .footer__listas2,
    .footer__redesListas {
      text-align: center;
    }
    .footer__copyright {
      margin: 20px auto;
      font-size: xx-small;    
    }
  
    .footer__redesListas--item {
      margin-left: 5px;
    }
  
    /* Support Page mobile*/
  
    .form__container {
      display: flex;
      flex-direction: column;           
    }
  
    .form__container--btn {
      display: flex;
      flex-direction: column;
    }
    
    /* Mobile Ticket's page*/
    .tickets__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tickets__code {
      display: flex;
      flex-direction: column;    
      align-items: center;
      
    }
    
    .tickets__code--place1,
    .tickets__code--place2 {
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 300px;
    }
    .tickets__code--ticket1,
    .tickets__code--ticket2 {  
      height: 90%;
      width: 90%;     
    }
  
    .account__border2,
    .tickets__border2 {
      margin-top: 0;
    }

    .section__eventBtn--btn {
        padding: 15px 30px;
    }
    /* Mobile Account's Page */
    .account__container {
      padding: 50px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto, auto);  
    }
    .account__info--changeAvatar {
      padding: 20px;
    }
  
    .account__note {
      margin: 0 20px;
      
    }
  
    /* Mobile Event's Page*/
  
    .eventContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto, auto);
    }
    .calendar {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  
    .searchEvent {
      padding-top: 30px;
      width: 80%;
      margin: 0 auto;
      grid-column-start: 1;
      grid-row-start: 2;
    }
  
    .filters {
      display: flex;
      text-align: center;
      padding-top: 30px;
      grid-column-start: 1;
      grid-row-start: 3;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
    }
  
    .filters__lista {
      font-size: 15px;
    }
  
    .borderEventPage {
      grid-column-start: 1;
      grid-row-start: 4;
    }
  
    .eventCards {
      width: 70%;    
      margin: 10px auto;
      display: grid;
          
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto, auto);
    }
       
  }
    