/* Header */

.header {  
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.13);
}

.header__imagen--logo {
  width: 60%;
}

.navegador {
  display: flex;
  align-items: center;
}

.navegador__listas {
  display: flex;
  list-style: none;
}
.navbar-light .navbar-nav .nav-link,
.navegador__lista--item {
  text-decoration: none;
  margin-left: 10px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link:hover,
.navegador__lista--item:hover {
  color: #33ccff;
}

.linkFootersection {
  position: absolute;
  display: none;
}

.linkFooter {
  padding-left: 20px;
  font-size: smaller;
  text-decoration: none;
}


.eventos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.section__maseventos {
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin: 60px;
}

.section__maseventos--btn {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffff;
  color: #33ccff;
  padding: 15px 60px;
  border: 3px solid #33ccff;
  transition: all 0.2s;
}

.section__maseventos--btn:hover {  
  background-color: #33ccff;
  color: #ffff;
}

/* Event List*/
.eventos {
  width: 90%;
  max-width: 1000px;
  margin: 60px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}

.eventos__cards {
  height: 400px;
  width: 280px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/* Cards info*/

.eventos__cards--info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
  background: #000000;
}

.eventos__cards--title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.eventos__cards--date {
  text-transform: capitalize;
  font-size: 15px;
  margin: 5px;
}

.eventos__cards--place {
  text-transform: capitalize;
  font-size: 12px;
  
}

.eventos__cards--uppercase {
  text-transform: uppercase;
}

.eventos__cards--info:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.eventos__cards--img1:hover,
.eventos__cards--img2:hover,
.eventos__cards--img3:hover,
.eventos__cards--img4:hover,
.eventos__cards--img5:hover,
.eventos__cards--img6:hover,
.eventos__cards--img7:hover,
.eventos__cards--img8:hover,
.eventos__cards--img9:hover,
.eventos__cards--img10:hover,
.eventos__cards--img11:hover,
.eventos__cards--img12:hover {
  transform: scale(1.1);
}

.eventos__cards--button {
  margin: 10px;
  padding: 5px 5px;
  background-color: #ffff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  text-transform: capitalize;
  transition: all 0.3s;
}

.eventos__cards--button:hover {
  background-color: #33ccff;
  color: #ffff;
}

/* Cards Imagenes */
.eventos__cards--img1 {
  background-image: url("../img/event_inxs.jpg");
}
.eventos__cards--img2 {
  background-image: url("../img/event_queen.jpg");
}
.eventos__cards--img3 {
  background-image: url("../img/event_direstraits.jpg");
}
.eventos__cards--img4 {
  background-image: url("../img/event_u2.jpg");
}
.eventos__cards--img5 {
  background-image: url("../img/event_madonna.jpg");
}
.eventos__cards--img6 {
  background-image: url("../img/event_pearljam.jpg");
}
.eventos__cards--img7 {
  background-image: url("../img/event_metallica.jpg");
}
.eventos__cards--img8 {
  background-image: url("../img/event_aic.jpg");
}
.eventos__cards--img9 {
  background-image: url("../img/event_rs.jpg");
}
.eventos__cards--img10 {
  background-image: url("../img/event_acdc.jpg");
}
.eventos__cards--img11 {
  background-image: url("../img/event_ironmaiden.jpg");
}
.eventos__cards--img12 {
  background-image: url("../img/event_gunsnroses.jpg");
}


.eventos__cards--img1,
.eventos__cards--img2,
.eventos__cards--img3,
.eventos__cards--img4, 
.eventos__cards--img5, 
.eventos__cards--img6, 
.eventos__cards--img7, 
.eventos__cards--img8, 
.eventos__cards--img9, 
.eventos__cards--img10, 
.eventos__cards--img11, 
.eventos__cards--img12 { 
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
  
}

/* Footer */

.footer__nonBootstrap {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  font-size: 15px;
}


.footer__grid1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__grid2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer__gridSub {
  grid-column-start: 5;
  grid-column-end: -1;
}

.footer__gridSub {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 30px 0;
}

.footer__gridSub--title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
}

.footer__grid4 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 10px;
}

.footer__titulo {
  margin: 20px 0 0 15px;
  font-size: 18px;  
}



.footer__listas,
.footer__listas2,
.footer__redesListas,
.footer__copyright {
  list-style: none;
  padding: 0 20px;
  margin: 20px 0;
  color: #000000;
}

.footer__redesListas--item,
.footer__listas2--item,
.footer__lista--item {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s;
    &:hover {
      color: #33ccff;
    }
}
/* SASS Maps*/
$socialmedia: (
    facebook: rgb(38, 38, 255),
    instagram: rgb(185, 97, 226),
    twitter: rgb(59, 187, 247),
    whatsapp: rgb(111, 226, 111)

);

@each $smedia, $color in $socialmedia {
  .fa-#{$smedia}:hover {
    color: $color;
  }
}

.footer__copyright {
  width: 100%;
  bottom: 0;
  text-decoration: none;
  font-size: small;  
  
}

/* Form Page*/
.form__container {
  width: 90%;
  max-width: 1000px;
  margin: 60px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);    
}

.form__container--fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid #999;
	border-radius:8px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #33ccff;
}
.form__container--select,
.form__container--input {
  width:60%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:8px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
  font-size: 13px;
}

.form__container--label {
  margin: 5px auto;
}

.form__container--form {
  border-radius:10px;
   
}
.form__container--legend {
  margin: 20px 20px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  background:#fff;
  width: auto;
  
}

.form__container--textarea {
  width:85%;
	height:100px;
  padding:3px 10px;
  font-size: 13px;
  background-color:#f6f6f6;
  border:1px solid #f6f6f6;
  resize:none;
}

.form__container--conditions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
}

.form__container--advert {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;  
}

.form__container--p {
  font-size: 25px;
  font-weight: 800;
}

.form__container--p2 {
  font-size: 25px;
  font-weight: 900;
  color: #33ccff;
  text-transform: uppercase;
}

.form__container--p3 {
  margin-right:5px;
  text-decoration: none;
  color: #000000;
}

.form__container--p3:hover {
  color: #33ccff;
}

.form__container--btn {
  flex-direction: row;
  padding: 20px 0;
}

.form__container--btnSubmit,
.form__container--btnReset {
  background-color: #ffff;
  border: none;
  color: #33ccff;
  border: 2px solid #33ccff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.2s;
}

.form__container--btnSubmit:hover,
.form__container--btnReset:hover {
  background-color: #33ccff;
  color: #ffff;
}

.form__container--img {
  height: 350px;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/support-img.png");
}

.form__container--textarea:focus,
.form__container--input:focus{
  outline: none;
}

/* Under Construction */

.under__construction {
  margin: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  animation-duration: 1s;
  animation-name: balltze;
}

/* Under Construction Animation */

@keyframes balltze {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }

}

/* Bootstrap Corrousel */

.carousel-item {
  height: 32rem;
  background-color: #999;
  position: relative;
  background-position: center;
  background-size: cover
  
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  margin-bottom: 30px;
}

.carousel__title {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
.carousel__place,
.carousel__date {
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;
}

.carousel__container--btn { 
  background-color: #33ccff;
  border: none;
  color: #fff;  
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.2s;
 }
 
 .carousel__container--btn:hover { 
  background-color: #fff;
   color: #33ccff;
 }

.carousel__img1 {
  background-image: url("../img/carousel/carousel_1.jpg");
}
.carousel__img2 {
  background-image: url("../img/carousel/carousel_2.jpg");
}
.carousel__img3 {
  background-image: url("../img/carousel/carousel_3.jpg");
}

.carousel__img1,
.carousel__img2,
.carousel__img3 {  
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;    
} 

.carousel__info {
  display: flex;  
}

.carousel__place--icon,
.carousel__date--icon {
  margin-right: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

 /* Fix Navbar's slide */
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

/* Sandwich Menu Custom */
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}
.navbar-toggler:focus {  
  box-shadow: 0 0 0 0;
}

/* Account's page */
.account {  
  height: auto;
  width: 100%;
  max-width: 960px;
  margin: 30px auto;
  padding: 10px;
}

.account__border {
  height: 10px;
  width: 100%;
  background-color: #000000;  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.055), 0 6px 6px rgba(0,0,0,0.23);
}

.account__border2 {  
  height: 10px;
  width: 100%;
  background-color: #000000;
  margin-top: 30px;
  bottom: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

 /* Ticket's Page */

.section__eventBtn {
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin: 60px;
}



.account__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, auto);

}
.account__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.account__info--avatar {
  background-image: url("../img/img_avatar.png");
  height: 250px;
  width: 250px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle();
  transition: all 0.2s ease;  
}

.account__info--avatar:hover {
  cursor: pointer;
}

.account__info--changeAvatar {
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease;
}

.account__info--changeAvatar:hover {
  color:#33ccff;
}

.account__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.account__list {
  margin: 30px 0;
  list-style: none;
}

.account__list--editAcc,
.account__list--tickets,
.account__list--changePsw,
.account__list--exitAcc {
  text-decoration: none;
  margin: 0 5px;
  text-transform: capitalize;
  color: #000000;
  transition: all 0.2s ease;
  
}

.account__list--editAcc:hover,
.account__list--tickets:hover,
.account__list--changePsw:hover,
.account__list--exitAcc:hover {
  color: #33ccff;
}

.account__note {
  text-align: center;
}

.account__note--txt {
  font-size: 14px;
  padding-bottom: 30px;
}

//  Event's Page

.eventContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.calendar {
  width: 300px;
  margin: auto; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.13);
}

.calendar__container {
  background-color: #33ccff;
  border-radius: 4px;
}

.calendar__container--section {
  display: flex;
  justify-content: space-around;
}


.calendar__container--iconLeft {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  padding-top: 15px;
  color: #f6f6f6;
  transition: all 0.2s;
}
/* SASS Extend*/
.calendar__container--iconRight {
  @extend .calendar__container--iconLeft;
}
.calendar__container--title {
  @extend .calendar__container--iconLeft;
}

.calendar__container--iconLeft:hover,
.calendar__container--iconRight:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* SASS Mixin*/
@mixin space($padding, $margin) {
    padding: $padding;
    margin:  $margin;
}

.calendar__container--calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  @include space(0, 0);
  list-style: none;
  background-color: #f6f6f6;
  padding: 5px;
}

.calendar__container--day {
  font-size: 14px;
  justify-self: center;
  transition: all 0.2s;
}

.calendar__container--day:hover {
  color: #33ccff;
  cursor: pointer;  
}

.calendar__container--dayName {
  font-weight: bold;
}

.calendar__container--firstDay {
  grid-column-start: 7;
}

.searchEvent {
  display: flex;
  align-items: center;
}

.searchEvent__icon {
  margin-right: 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.searchEvent__icon:hover {
  color: #33ccff;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: span 3;
  grid-row-start: 2;
  padding: 10px 0;
}

.searchEvent__input {
  width:100%;
  height: 30px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:8px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
  font-size: 13px;  
}

.filters__lista {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 18px;
}

.filters__lista-items {
  transition: all 0.2s;
  cursor: pointer;
}

.filters__lista-items:hover {
  color: #33ccff;
}

.filters__icon {
  margin-right: 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.filters__icon:hover {
  color: #33ccff;
}

.borderEventPage {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  background-color: transparent;
}

.borderEventPage__line {
  height: 10px;
  width: 90%;
  margin: auto;
  background-color: #000000;  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.055), 0 6px 6px rgba(0,0,0,0.23);
  
}

.eventCards {
  width:75%;  
  margin: 40px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}




